// cspell:ignore letterspacing

.navbar__nav__logo {
    display: none; // remove the logo on mobile
    font-weight: var(--font-weight-7);
    text-transform: capitalize;
    margin-bottom: var(--size-3);
    text-align: center;
    // background: var(--bg-secondary-color);
    backdrop-filter: blur(0.5rem);
    color: var(--text-primary-color); // link - a is over riding this
    font-style: italic;
    letter-spacing: var(--font-letterspacing-3);
    transition: transform var(--transition-speed);

    &__link {
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: var(--navbar-thickness);
        color: var(--text-primary-color);
        text-decoration: none;

        &__text {
            font-size: var(--navbar-font-size);
            display: flex;
        }

        & svg {
            min-width: var(--svg-width-min);
            margin: var(--svg-margin);
            display: none;
            width: 1rem;
            height: auto; // height: var(--size-3);
        }
    }
}

.navbar .navbar__nav__logo svg {
    filter: grayscale(100%);
    transform: rotate(0deg);
    transition: all var(--transition-speed);
}

.navbar:hover .navbar__nav__logo svg {
    filter: grayscale(0%);
    transform: rotate(-180deg);
    transition: all var(--transition-speed) ease 1s;
}

@media only screen and (min-width: 48em) {
    .navbar__nav__logo {
        display: block; // show the logo on mobile
    }
}
