:root {
  --navbar-font-size: var(--font-size-fluid-0);
  --navbar-text-primary-color: var(--grey);
  --navbar-text-secondary-color: var(--fg-4);
  --text-primary-color: var(--fg2);
  --text-secondary-color: var(--fg4);
  --bg-primary-color: var(--bg-html);
  --bg-secondary-color: var(--bg_s);
  --main-margin-left: 5rem;
  --svg-width-min: 2rem;
  --svg-margin: 0 1.5rem;
  --transition-speed: 600ms;
}

main {
  // margin-left: var(--main-margin-left);
  padding: var(--size-4);
}

.navbar {
  border: 0.5px dotted var(--bg-primary-color);
  position: fixed;

  background-color: var(--bg-primary-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1618);
  font-size: var(--navbar-font-size);
  z-index: var(--layer-important);

  transition: width 200ms ease;
  // padding-inline: var(--size-3); // enable this later!!!
  // overflow: scroll;

  &:hover {
    // width: 10rem;
    // transition: all 600ms ease;
    // transition: transform var(--transition-speed);

    .navbar__nav__logo {
      // border: 4px solid pink;
      align-items: center;
      justify-content: center;

      &__link {
        display: flex;
        align-items: center;
        &:hover {
          // border: 4px solid pink;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1618);
        }
        & span.logo-text {
          color: var(--text-primary-color);
          text-decoration: none;
        }

        & svg {
          display: block;
          color: aliceblue;

          &:hover {
            // fill: var(--text-primary-color) !important;
            color: var(--navbar-text-secondary-color);
          }
        }
      } // end .navbar__nav__logo__link
    } // end .navbar__nav__logo
  } // end .navbar:hover
} // end .navbar

// no more than 3 nested levels please
.navbar__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-3);

  &__logo {
    // width: var(--main-margin-left);
    // height: var(--main-margin-left);

    display: grid;
    place-content: center;

    &__link {
      // display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      height: var(--main-margin-left);
      &__text {
        font-size: var(--navbar-font-size);
        display: flex;
      }
      & svg {
        min-width: var(--svg-width-min);
        margin: var(--svg-margin);
        display: none;
        width: 1rem;
        height: auto;
        // height: var(--size-3);
      }
    }
  }

  &__item {
    align-items: center;
    justify-content: center;

    > *:first-child {
      // border: 1px solid wheat;
    } // disable this later !!!!!

    &:last-child {
      margin-top: clamp(10vh, 10vh + var(--size-4), 90vh);
      // border: 1px dotted rebeccapurple;
    }

    &__link {
      display: flex; // set individual link and svg to flex in a row
      color: var(--text-primary-color);
      // border: 1px dotted rebeccapurple;
      // cross axis now runs vertically
      align-items: center;
      height: var(--main-margin-left);
      text-decoration: none;
      // grayscale turns default fa- color into grey of same brightness
      filter: grayscale(100%) opacity(0.7) hue-rotate(29deg); // grayscale and opacity are enough, maybe blur too?
      transition: var(--transition-speed);
      &:hover {
        // border: 1px dotted rebeccapurple;
        filter: grayscale(0%) opacity(1) hue-rotate(0deg);
      }
    }
  }
}

.navbar__nav__item__link {
  &__text {
    display: none; // show the text only when the link is hovered
  }
  svg {
    min-width: 2rem;
    margin: var(--svg-margin); // this decreases the size of svg icons
  }
}

// font awesome icons
.fa {
  &-primary {
    color: var(--aqua);
  }

  &-secondary {
    color: var(--aqua-dim);
  }

  &-primary,
  &-secondary {
    transition: var(--transition-speed);
  } // instead of hard coding hover props, set filter on nav__item__link
}

/// ///////////////////////////////////////////////////////////////////////////
///
/// media queries
///
/// ///////////////////////////////////////////////////////////////////////////

// small screen

@media only screen and (max-width: 600px) {
}
// large screen

@media only screen and (min-width: 600px) {
  .navbar {
    width: var(--main-margin-left);
    position: fixed;
    height: 100vh;
    left: 0; // wasn't recommended by the author
    top: 0; // wasn't recommended by the author

    &:hover {
      width: 10rem;

      .navbar__nav__item {
        &__link__text {
          // display: block;
          display: inline;

          transition: opacity var(--transition-speed);
        }
      } // end .navbar__nav__item
    }
  }
}
