button {
  position: relative;
  border: none;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  border-radius: 3px;
  margin: 0 10px;
  padding-block: var(--font-size-400);
  padding-inline: var(--font-size-700);
  border: 3px solid transparent;
  cursor: pointer;
  background-color: var(--bg1);
  letter-spacing: var(--font-size-100);

  &:active {
    transform: translateY(3px);
  }

  &::after,
  &::before {
    border-radius: 3px;
  }
}

// button and data-state
.nav__btn-get-inspired#btnGetInspired[data-transparent='true'] {
  // this is like a bug which is a feature, animates the toggle,
  // and smooth positioning and opacity when the data-transparent='false'
  @extend button;
  opacity: var(--fade-btn-get-inspired);
  position: absolute;
  transition: position 0.5s ease-out;
}

.nav__btn-get-inspired#btnGetInspired[data-transparent='false'] {
  // @extend button; // this will draw button edges and style
  transition: all 2s ease-in;
  opacity: 1;
  top: 0;
  position: relative;
}
