// @use 'base';
// @use 'utilities';
@use 'components';
// @use 'layouts';
// @use 'global';
// @use 'abstracts';

/* cspell:ignore btns letterspacing lineheight Avenir */
// https://github.com/thecodercoder/fem-dklt-toggle
:root {
  /******************************************************************************
  ***
  *** FONTS by  https://open-props.style/#typography 
  ***
  ******************************************************************************/

  /* 1. font-size-fluid, 2. font-size, 3. font-letterspacing, 4. font-lineheight, 5. font-weight */

  /* font size fluid */
  --font-size-fluid-0: clamp(0.75rem, 1.5vw, 1rem);
  --font-size-fluid-1: clamp(1rem, 2vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 3vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 4vw, 3.5rem);

  /* font size */
  --font-size-100: 0.25rem;
  --font-size-200: 0.5rem;
  --font-size-300: 0.75rem;
  --font-size-400: 1rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.5rem;
  --font-size-700: 1.75rem;
  --font-size-800: 2rem;
  --font-size-900: 2.25rem;

  /* font size */
  --font-size-00: 0.5rem;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;

  /* font-letterspacing */
  --font-letterspacing-0: -0.05em;
  --font-letterspacing-1: 0.025em;
  --font-letterspacing-2: 0.05em;
  --font-letterspacing-3: 0.075em;
  --font-letterspacing-4: 0.15em;
  --font-letterspacing-5: 0.5em;
  --font-letterspacing-6: 0.75em;
  --font-letterspacing-7: 1em;

  /* font-lineheight */
  --font-lineheight-00: 0.95;
  --font-lineheight-0: 1.1;
  --font-lineheight-1: 1.25;
  --font-lineheight-2: 1.375;
  --font-lineheight-3: 1.5;
  --font-lineheight-4: 1.75;
  --font-lineheight-5: 2;

  /* font-weight */
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;

  /******************************************************************************
  ***
  *** SIZES
  ***
  ***************************************************************************** */

  /* 
    1. Fluid, 
    2. relative, 
    3. reading-content 
  */
  --size-fluid-1: clamp(0.5rem, 1vw, 1rem);
  --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-4: clamp(2rem, 4vw, 3rem);
  --size-fluid-5: clamp(4rem, 5vw, 5rem);
  --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --size-fluid-8: clamp(10rem, 20vw, 15rem);
  --size-fluid-9: clamp(15rem, 30vw, 20rem);
  --size-fluid-10: clamp(20rem, 40vw, 30rem);

  /* SIZES: Relative Size */
  --size-000: -0.5rem;
  --size-00: -0.25rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;

  /* SIZES: Reading-Content */
  --size-content-1: 20ch;
  --size-content-2: 45ch;
  --size-content-3: 60ch;

  /******************************************************************************
  ***
  *** Z-INDEX
  ***
  ******************************************************************************/

  /* Z-INDEX layer */
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;

  /* Z-INDEX maximum important layer - use sparingly */
  --layer-important: 2147483647;

  /******************************************************************************
  ***
  *** THEME COLOR PALLETTE 
  ***
  ******************************************************************************/

  /* color pallette by https://github.com/YV31/gruvbox-css/blob/master/src/gruvbox-dark.css */

  /* background */
  --bg_h: #1d2021; /* hard color */
  --bg: #282828;
  --bg_s: #32302f; /* soft color */
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  /* foreground */
  --fg: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  /* vibrant colors */
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;

  /* dim colors */
  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458588;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --gray-dim: #a89984;
  --orange-dim: #d65d0e;

  //
  //
  /// THEME TOGGLE
  //
  //

  --theme-toggle-fill-color: var(--yellow-dim);
  --theme-toggle-color: var(--yellow);
  /******************************************************************************
  ***
  *** DOM MANIPULATION WITH JAVASCRIPT
  ***
  ******************************************************************************/

  /* 
  1. Gap Btn
  2. Buttons Mode & Style Display Property
  3. Grid Density -- count of grids 
  4. Grid border color, color-dim, border-radius
  4. Container Border -- JavaScript adds a thick border when container is created
  */

  /* gap to add in flex buttons with javascript on click */
  --gap-btn: 0rem;

  /* display none on buttons or opacity - to avoid layout changes, so focus on hover effect too... but lighthouse may find it odd */
  --display-btns-mode: inline-block;
  --display-btns-size: inline-block;

  /* dimensions of #containerGrid > div children */
  --grid-density-small-width: clamp(1.1875rem, 1vw + 1rem, 2.4375rem);
  --grid-density-small-height: clamp(1.1875rem, 1vw + 1rem, 2.4375rem);
  --grid-density-medium-width: clamp(0.2rem, 0.5vw + 0.7rem, 3.5875rem);
  --grid-density-medium-height: clamp(0.2rem, 0.5vw + 0.7rem, 3.5875rem);
  --grid-density-large-width: clamp(0.25rem, 1vw + 1rem, 0.5625rem);
  --grid-density-large-height: clamp(0.25rem, 1vw + 1rem, 0.5625rem);

  --font-size-fluid-0: clamp(0.75rem, 1.5vw, 1rem);
  --font-size-fluid-1: clamp(1rem, 2vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 3vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 4vw, 3.5rem);

  /* custom color control with javascript */
  --grid-border-color: var(--bg);
  --grid-border-color-dim: var(--bg-dim);
  --grid-border-radius: var(--font-size-400);

  --grid-child-border-color: var(--fg2);
  --grid-child-border-color-dim: var(--fg2-dim);
  --grid-child-border-radius: var(--font-size-400);
  --grid-child-border-width: 0.0625rem;
  --grid-child-border-style: solid;

  /* Thick border on etch sketch containerGrid to emulate etch-a-sketch */
  --container-border: 0;

  // background color of containerGrid to blend with border (it's a very thin line)
  --container-grid-bg: var(--bg_s);

  /* opacity to fade in/out elements on reset */
  --fade: 1;

  --fade-main-heading: 0;

  --fade-btn-get-inspired: 0;
} /* end of: :root */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: min(100% - 2rem, 75.614vw);
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;

  justify-content: center;
  align-items: center;
  text-align: center;

  line-height: 1.5;
  font-size: clamp(1.25rem, 2vw, 2.5rem);
  font-family: 'Courier New', Courier, monospace;

  color: var(--fg);
  background-color: var(--bg_h);

  overflow-x: hidden;

  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

/******************************************************************************
  ***
  *** TYPOGRAPHY
  ***
  ******************************************************************************/
p,
li,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  hyphens: auto;
}

a {
  text-decoration: none;
  color: var(--green-dim);
  transform: none;
  transition: all 0.25s ease-out;
}

a:hover {
  color: var(--green);
  transition: all 0.25s ease-in;
  text-decoration: dashed underline;
}

h1 {
  font-size: clamp(1.25rem, 2vw, 3.5rem);
  font-weight: 700;
  margin-top: 0;
  padding: 0;
  text-transform: lowercase;
  letter-spacing: 0.5rem;

  opacity: var(--fade-in);
}

.main__heading#mainHeading[data-transparent='true'] {
  opacity: var(--fade-main-heading);
  line-height: var(--font-lineheight-1);
}

// #app {
//   /* font-family: Avenir, Helvetica, Arial, sans-serif; */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   margin-top: 60px;
// }

/* region:      --- features add-on */
.inspire {
  font-size: var(--font-size-300);
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  text-transform: lowercase;
  letter-spacing: 0.4rem;
  font-weight: 400;
  color: var(--fg4);

  text-shadow: rgb(29, 32, 33);

  background-color: var(--fg4);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(29, 32, 33, 0.5) 3px 5px 1px;

  text-shadow: -1px -1px rgba(0, 0, 0, 0.5), 1px 1px rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.engrave-text {
  background-color: var(--bg4);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(245, 245, 245, 0.5) 3px 5px 1px;
}

/* credits: https://codepen.io/daryl/pen/XWXpyz */

/* endregion:   --- features add-on */

/* region:      --- footer --- */
// footer {
//   font-size: var(--font-size-300);
//   text-transform: lowercase;
//   letter-spacing: calc(var(--font-size-100) / var(--type-ratio-golden-ratio));
// }

/* endregion:   --- footer --- */

/* region:      --- animation --- */

// button {
//   position: relative;
//   border: none;
//   /* font-size: 18px; */
//   transition: color 0.5s, transform 0.2s, background-color 0.2s;
//   /* outline: none; */
//   border-radius: 3px;
//   margin: 0 10px;
//   /* padding: 23px 33px; */
//   padding-block: var(--font-size-400);
//   padding-inline: var(--font-size-700);
//   border: 3px solid transparent;
//   cursor: pointer;
//   background-color: var(--bg1);
//   letter-spacing: var(--font-size-100);
// }
//
// button:active {
//   transform: translateY(3px);
// }
//
// button::after,
// button::before {
//   border-radius: 3px;
// }
// button.nav__btn-get-inspired#btnGetInspired[data-transparent='true'] {
//   opacity: var(--fade-btn-get-inspired);
//   position: absolute; // top: -100px;
//   transition: position 0.5s ease-out; // appearance: none;
// }
//
// button.nav__btn-get-inspired#btnGetInspired[data-transparent='false'] {
//   transition: all 2s ease-in;
//   opacity: 1;
//   top: 0;
//   position: relative;
// }

.shrink-border {
  /* background-color: transparent; */
  color: var(--bg_h);
}

.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: var(--fg2);
}

.shrink-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid var(--bg_h);
  transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
  opacity: 0;
}

.shrink-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid var(--fg3);
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.material-bubble {
  /* background-color: transparent; */
  color: var(--fg);
  border: none;
  overflow: hidden;
  box-shadow: none;
}

.material-bubble:hover {
  color: var(--bg_h);
}

.material-bubble::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid var(--bg_h);
  transition: opacity 0.3s, border 0.3s;
}

.material-bubble:hover::before {
  opacity: 0;
}

.material-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  /* background-color: lighten(var(--blue-dim), 10%); */
  /* background-color: var(--bg4); */
  background-color: var(--fg2);
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.material-bubble:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}

/* ************************************************************************* */
/* ************************************************************************* */
/* ****************************interactive buttons************************** */
/* ************************************************************************* */
/* ************************************************************************* */
/* cspell:disable */
#btnsMode {
  display: var(--display-btns-mode);
}

#btnsSize {
  display: var(--display-btns-size);
}

#color-controller {
  margin: 10px 0px 10px 10px;
}

/* cspell:enable */

/* ************************************************************************* */
/* Game container */
/* small(16x22) medium.default(32x44) big(64x88) */

.main__container-grid#containerGrid {
  display: inline-grid;
  border: var(--container-border);
  /* 16:9 ratio -> ff5e5b  */
  border-radius: var(--grid-border-radius);
  // border-width: 6px 100px 0;
  // grid-gap: 1px;
  background-color: var(
    --container-grid-bg
  ); // make it a little bit less alpha or lighter(greyish) than the border edges o it blends
  /* cursor: crosshair; */
}

.main__container-grid#containerGrid[data-ruler='true'] > * {
  border-style: var(--grid-child-border-style);
  border-width: var(--grid-child-border-width);
  border-color: var(--grid-child-border-color);
}

#containerGrid > div {
  background-color: #ebdbb2;
}

.grid-small {
  grid-template-columns: repeat(22, auto);
}

.grid-small > div {
  width: var(--grid-density-small-width);
  height: var(--grid-density-small-height);
}

.grid-medium-default {
  grid-template-columns: repeat(44, auto);
}

.grid-medium-default > div {
  width: var(--grid-density-medium-width);
  height: var(--grid-density-medium-width);
}

.grid-large {
  grid-template-columns: repeat(88, auto);
}

.grid-large > div {
  width: var(--grid-density-large-width);
  height: var(--grid-density-large-height);
}

/* ************************************************************************* */
/*  
    ***
    *** region: --- CONTROLS UI ---
    ***
*/
/* ************************************************************************* */

.main__controls[data-hidden='true'] {
  display: none;
}

.main__controls[data-hidden='false'] {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: var(--font-size-700);
}

.buttons-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button.buttons-controls,
.buttons-controls > button {
  background-color: var(--bg_h);
  padding-block: var(--font-size-200);
  padding-inline: var(--font-size-100);
  font-size: var(--font-size-300);
  color: var(--fg2);
  margin-inline: 0;

  text-transform: lowercase;
}

button[data-button-style-none] {
  background-color: transparent;
  color: var(--fg2);
  border: none;
  padding: 0;
  font-size: var(--font-size-400);
}
/* .buttons-controls {
  display: none;
} */

/// ///////////////////////////////////////////////////////////////////////////
///
/// region: HELPER CLASSES UTILITIES
///
/// ///////////////////////////////////////////////////////////////////////////

.hidden {
  display: none;
}

/// ///////////////////////////////////////////////////////////////////////////
///
/// region: THEME (data-theme)
///
/// ///////////////////////////////////////////////////////////////////////////
@media (dynamic-range: high) {
  [data-theme='dark'] {
    --bg: #1d1d1d;
    --fg: #fafafa;
  }
}
[data-theme='dark'] {
  color-scheme: dark;
  // --bg: var(--fg); // this is removing the container border !!!
  --fg: var(--fg);
}

#themeToggle {
  background-color: none;
} // .nav__theme_toggle

.nav__theme-toggle__svg__moon-mask,
.nav__theme-toggle__svg__sun {
  fill: var(--theme-toggle-fill-color);
  stroke: none;

  // color: var(--theme-toggle-color, var(--yellow));
  // width: var(--theme-toggle-width);
  // height: var(--theme-toggle-height);
}
